<div class="container">
  <div class="row">
    <section id="interet">
      <div class="row">
        <div class="col-1">
        </div>
        <div class="col-11 nameFormation">
          <h1 class="titrePhrase">INTEREST</h1>
          <h2>AUTRES INTERET QUE L'INFORMATIQUE</h2>
        </div>
      </div>
      <div class="w-100 my-2">
        <hr>
      </div>
      <div class="row">
        <div class="col-12 content-interet">
          Le sport, les voyages, le shopping, Nouvelles technologies, Cinéma, La musique
        </div>
      </div>
      <div class="w-100 my-2">
        <hr>
      </div>
    </section>
  </div>
</div>