<div class="container" style="padding-top: 80px">
    <div class="form-inline">
        <!-- <form [formGroup]="formWeather">
            <div class="form-group">
                <label for="exampleInputNom">Ville : </label>
                <input class="form-control" type="text" placeholder="Votre ville" formControlName="ville" />
            </div>
        </form>
        <button type="button" (click)="getCountry()" class="btn btn-primary">Submit</button>
            </div>-->
        <div class="form-group">
            <label>Ville : </label>
            <input type="text" [(ngModel)]="ville" class="form-control">
            <!-- {{this.appService.city}} -->
        </div>
        <button type="button" (click)="getCountry()" class="btn btn-primary">Weather</button>
    </div>
    <div>
        <div class="col-md-12">
            <h3 class="text-center my-4" style="text-align: center">Weather Details</h3>
            <table class="table table-striped">
                <tr>
                    <td>Temperature : </td>
                    <td>{{appService?.weather?.current?.temperature}}</td>
                </tr>
                <tr>
                    <td>Pays : </td>
                    <td>{{appService?.weather?.location?.country}}</td>
                </tr>
                <tr>
                    <td>Ville : </td>
                    <td>{{appService?.weather?.location?.name}}</td>
                </tr>
                <tr>
                    <td>observation_time : </td>
                    <td>{{appService?.weather?.current?.observation_time}}</td>
                </tr>
                <tr>
                    <td>localtime : </td>
                    <td>{{appService?.weather?.location?.localtime}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>