<div class="container" style="padding-top: 60px">
    <h1>CONTACT ME</h1>

    <div class="row">
        <div class="col-md-12">
            <section id="form">
                <form [formGroup]="formUser">
                    <div class="form-group">
                        <label for="exampleInputNom">Nom</label>
                        <input class="form-control" type="text" placeholder="Votre Nom" formControlName="nom" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPrenom">Prénom</label>
                        <input class="form-control" type="text" placeholder="Votre Prenom" formControlName="prenom" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputDateNaissance">Date Naissance</label>
                        <input type="date" class="form-control" formControlName="dateNaissance">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputCmtre">Comentaire</label>
                        <ckeditor [editor]="Editor" [formControl]="this.formUser.controls['commentaire']"
                            data="<p></p>">
                        </ckeditor>
                    </div>
                </form>

                <button type="button" (click)="submitForm()" class="btn btn-outline-primary btn-block"
                    style="border: 2px solid blue">Envoyer</button>
                <button type="reset" (click)="resetForm()" class="btn btn-outline-danger btn-block"
                    style="border: 2px solid red">Annuler</button>

                <div class="w-100 my-2">
                    <hr>
                </div>
            </section>
        </div>
    </div>
</div>