<div class="container">
  <div class="row" id="divAbout">
    <section id="about">
      <div class="row">
        <div class="col-1">
        </div>
        <div class="col-11 nameFormation">
          <h1 class="titrePhrase">ABOUT ME</h1>
          <h2>Boufaied Wajih</h2>
          <p>Ingénieur Informatique <span id="changeTitre">Génie Logiciel.</span></p>
        </div>
      </div>
      <div class="w-100 my-2">
        <hr>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
          <div class="block-content">
            <ul class="info-list" style="list-style: none;">
              <li><span style="font-weight: bold">Full Name</span> : BOUFAIED Med Wajih</li>
              <li><span style="font-weight: bold">Address</span> : Rue Ibn Hani, Korba</li>
              <li><span style="font-weight: bold">Phone</span> : (+216) 97 472 581</li>
              <li><span style="font-weight: bold">Email</span> : wajihboufaid@yahoo.fr</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
          <div class="block-content">
            <ul class="info-list" style="list-style: none;">
              <li><span style="font-weight: bold">Birthdate</span> : 10/01/1983</li>
              <li><span style="font-weight: bold">Job</span> : Freelance</li>
              <li><span style="font-weight: bold">Skype</span> : wajihboufaid</li>
              <li><span style="font-weight: bold">Website</span> : www.wajihboufaid.com</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
