.nameFormation, .titrePhrase, .block-content {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nameFormation {
  color: #38bd5d;
  margin-top: 80px;
  margin-left: 30px;
  text-align: center;
}

.titrePhrase {
  color: #bd5d38!important;
  text-align: center;
  font-weight: bold;
}

.block-content {
  background: white;
  width: 100%;
  color: #5d38bd;
  margin: 20px 0px 0px 11px;
  border: 3px solid #5d38bd;
  border-radius: 20px;
  font-size: 100%;
}
