<div class="container">
  <div class="Row">
    <section id="experience">
      <div class="row">
        <div class="col-1">
        </div>
        <div class="col-11 nameFormation">
          <h1 class="titrePhrase">EXPERIENCE</h1>
          <h2>MY SKILLS</h2>
          <h3>MY SPECIAL EXPERTISE</h3>
        </div>
      </div>
      <div class="w-100 my-2">
        <hr>
      </div>
      <div class="row">
        <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12 ">
          <div class="row resumeTitle">
            <div class="col-1">
                                    <span>
                                        <i class="material-icons"></i>
                                    </span></div>
            <div class="col-10" style="text-align: center">
              <p>Education</p>
            </div>
          </div>
          <div class="row">
            <div class="col-1">
                                    <span>
                                        <i class='far fa-circle cirleDate'></i>
                                    </span>
            </div>
            <div class="v1"></div>
            <div class="col-2"></div>

            <div class="col-8 defineDate">
              <div>
                2006-2009
              </div>
            </div>

          </div>
          <div class="row defineObjective">
            <div class="col-1"></div>
            <div class="col-10">Time Université Tunis Tunisie
              <br>
              <p style="font-size: 12px">Diplôme National d'Ingénieur en Informatique</p>
            </div>
          </div>
          <div class="row">
            <div class="col-1">
                                    <span>
                                        <i class='far fa-circle cirleDate'></i>
                                    </span>
            </div>
            <div class="col-2"></div>
            <div class="col-8 defineDate">
              <div>
                2003-2006
              </div>
            </div>
          </div>
          <div class="row defineObjective">
            <div class="col-1"></div>
            <div class="v2"></div>
            <div class="col-10">ISET Nabeul Tunisie
              <br>
              <p style="font-size: 12px">Technicien Supérieur en informatique</p>
            </div>
          </div>
          <div class="row">
            <div class="col-1">
                                    <span>
                                        <i class='far fa-circle cirleDate'></i>
                                    </span>
            </div>
            <div class="col-2"></div>
            <div class="col-8 defineDate">
              <div>
                1998-2002
              </div>
            </div>
          </div>
          <div class="row defineObjective">
            <div class="col-1"></div>
            <div class="v3"></div>
            <div class="col-10">Lycée Secondaire Korba Tunisie
              <br>
              <p style="font-size:12px">Baccalauréat Mathématique</p>
            </div>
          </div>
        </div>
        <div class="col-lg-1 col-md-1"></div>
        <div class=" col-lg-5 col-md-5 col-xs-12 col-sm-12 ">
          <div class="row resumeTitle">
            <div class="col-1">
                                    <span>
                                        <i class="material-icons"></i>
                                    </span></div>
            <div class="col-10" style="text-align: center">
              <p>Experience</p>
            </div>
          </div>
          <div class="row">
            <div class="col-1">
                                    <span>
                                        <i class='far fa-circle cirleDate'></i>
                                    </span>
            </div>
            <div class="col-2"></div>
            <div class="col-8 defineDate">
              <div>
                Juillet 2019-Aujourd'hui
              </div>
            </div>
          </div>
          <div class="row defineObjective">
            <div class="col-1"></div>
            <div class="v4"></div>
            <div class="col-11"> Société Five Points
              <ul class="block-job">
                <li>Création des inerfaces avec HTML5 CSS3 bootstrap</li>
                <li>CRUD d'une calendrier des evenements avec HTML CSS et JavaScript</li>
                <li>Création d'une application TO DO (CRUD affaire et calcule le temps rester en
                  details)
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-1">
                                    <span>
                                        <i class='far fa-circle cirleDate'></i>
                                    </span>
            </div>
            <div class="col-2"></div>
            <div class="col-8 defineDate">
              <div>
                Juin 2017-Juillet 2019
              </div>
            </div>
          </div>
          <div class="row defineObjective">
            <div class="col-1"></div>
            <div class="v5"></div>
            <div class="col-11"> En Freelance
              <ul class="block-job">
                <li>Conception et développement d'une application de gestion de stock en
                  Java/J2ee,
                  en utilisant Spring MVC, Hibernate, JPA, Git, Maven avec BD MySql
                </li>
                <li>Création d'application JEE des comptes bancaires basée sur JPA, Hibernate et
                  Spring Boot.
                </li>
                <li>Créer d’une application Web JEE MVC coté client en utilisant une approche
                  basée
                  sur les micros services.
                  La partie Front end est une application Web basée sur Angular JS et Angular
                  4.
                </li>
                <li>
                  Créer une application Web JEE dynamique sans utiliser aucun Framework
                  (contient
                  : Servlet, JSP, JSTL) qui compose de gérer des entités (en utilisant les
                  opérations CRUD).
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
