<div class="container">
  <div class="row">
    <section id="presentation">
      <div class="row">
        <div class="col-1">
        </div>
        <div class="col-11 nameFormation">
          <h1 class="titrePhrase">PRESENTATION</h1>
          <h2>PROGRAMMING IN MY LIFE</h2>
        </div>
      </div>
      <div class="w-100 my-2">
        <hr>
      </div>
      <div class="row">
        <div class="col-md-12 content-interet">
          <p>
            Salut! Je m'appelle BOUFAIED Med Wajih. Je suis un developpeur et je suis très passionné
            et dévoué à mon travail.
            Fort depuis presque 2 ans d’expérience en tant que développeur professionnel,
            j’ai acquis les compétences et les connaissances nécessaires à la réussite de votre
            projet.
            <br>
            J'apprécie chaque étape du processus de conception, de la discussion à la collaboration
            en passant par la conception et l'exécution,
            mais je trouve la plus grande satisfaction de voir le produit fini tout faire pour vous
            pour lequel il a été créé.
            Regardez mon travail et si vous souhaitez discuter de votre projet, veuillez me le faire
            savoir. Au fil de mes années
            d’expérience en tant que developpeur et concepteur Web professionnel,
            j’ai acquis les compétences et les connaissances nécessaires pour mener à bien votre
            projet!
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
