<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formModal">
                    <div class="form-group">
                        <label for="exampleInputNom">Nom</label>
                        <input class="form-control" type="text" placeholder="Votre Nom" formControlName="nomModal" />

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPrenom">Prénom</label>
                        <input class="form-control" type="text" placeholder="Votre Prenom"
                            formControlName="prenomModel" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputDateNaissance">Date Naissance</label>
                        <input type="date" class="form-control" formControlName="dateNaissanceModal">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputCmtre">Comentaire</label>
                        <textarea class="form-control" rows="3" formControlName="commentaireModal"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>