<div class="container">
  <div class="row">
    <section id="competance">
      <div class="row">
        <div class="col-1">
        </div>
        <div class="col-11 nameFormation">
          <h1 class="titrePhrase">SKILLS</h1>
          <h2>PROGRAMMING LANGUAGES & TOOLS</h2>
        </div>
      </div>
      <div class="w-100 my-2">
        <hr>
      </div>
      <div class="row content-skills">
        <div class="col-2">
          <span><i class='fab fa-html5' style="color: #ff8352"></i> </span>
        </div>
        <div class="col-2">
          <span><i class="fab fa-css3-alt" style="color: blue"></i> </span>
        </div>
        <div class="col-2">
          <span><i class="fab fa-js-square" style="color: yellow"></i> </span>
        </div>
        <div class="col-2">
          <span><i class="fab fa-angular" style="color: rgb(204, 29, 29)"></i> </span>
        </div>
        <div class="col-2">
          <span><i class="fab fa-npm" style="color: rgb(197, 33, 33)"></i> </span>
        </div>
        <div class="col-2">
          <span><i class="fab fa-java" style="color: royalblue"></i> </span>
        </div>
      </div>
      <hr>
      <div class="row tableService">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-1">
          <div class="row">
            <div class="cell1 col-3">
              <i class="cell4 fas fa-address-card" style="color: gray"></i>
            </div>
            <div class="cell2 col-9">PORTFOLIO</div>
            <div class="row">
              <div class="col-3"></div>
              <div class="cell3 col-9">
                Je pourrais decrire ce conception pour avoir bien utiliser le HTML, CSS avec
                bootstrap.
                <br>Voila le code sur ce <a href="https://github.com/wajihov/Portfolio"
                                            target="_blank">lien</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-1">

          <div class="row">
            <div class="cell1 col-3">
              <i class="cell4 fa fa fa-trophy" style="color: gray"></i>
            </div>
            <div class="cell2 col-9">HACKATHON</div>
            <div class="row">
              <div class="col-3"></div>
              <div class="cell3 col-9">
                Un mini projet de Hackathon qui consiste d'afficher et de partager
                les évennement d'une société aux condidats.
                le projet est développé par javascript native, html et Css.
                <br>Voila le code du projet
                <a href="https://github.com/wajihov/Hackathon" target="_blank">lien</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-1">
          <div class="row">
            <div class="cell1 col-3">
              <i class="cell4 fa fa-tasks" style="color: gray"></i>
            </div>
            <div class="cell2 col-9">LISTE D'AFFAIRE</div>
            <div class="row">
              <div class="col-3"></div>
              <div class="cell3 col-9">
                Un mini projet avec html Css Et javascript Native dont la quel on a utilisé
                le local-storage comme BD pour enregistrer des utlisateurs.
                <br>Ces utilisateurs ont la possibilité d'accéder à leur compte pour faire
                le CRUD de ses affaires on affichants les temps restants de chaque affaire avec
                le temps.
                <br>Voila le lien du projet
                <a href="https://github.com/wajihov/Local-storage-CRUD" target="_blank">lien</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-1">
          <div class="row">
            <div class="cell1 col-3">
              <i class="cell4 fas fa-calculator" style="color: gray"></i>
            </div>
            <div class="cell2 col-9">CALCULATRICE</div>
            <div class="row">
              <div class="col-3"></div>
              <div class="cell3 col-9">
                Dessiner une calculatrice avec html5 et CSS3 en affichant l'historique des
                opérations
                effectués. On a utilisé le javascript commen language de logique pour faire
                l'intéraction
                de l'utilisateur avec l'application
                <br>Voici le code du projet
                <a href="https://github.com/wajihov/Calculatrice-Avec-JavaScript"
                   target="_blank">lien</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-1">
          <div class="row">
            <div class="cell1 col-3">
              <i class="cell4 fab fa-js-square" style="color: gray"></i>
            </div>
            <div class="cell2 col-9">Activité JavaScript</div>
            <div class="row">
              <div class="col-3"></div>
              <div class="cell3 col-9">
                Cette application avec js qui consiste d'ajouter et afficher dans un tableau
                avec une boucle de repétition jusqu'a attendre le signe de quitter l'execution.
                <br> L'execution ça se passe dans le console.
                <br>Le code est dans le <a
                href="https://github.com/wajihov/App-JS-add-Delete-in-the-table-with-class"
                target="_blank">Lien</a>
                <br>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-1">
          <div class="row">
            <div class="cell1 col-3">
              <i class="cell4 fas fa-leaf" style="color: gray"></i>
            </div>
            <div class="cell2 col-9">SPRING MVC</div>
            <div class="row">
              <div class="col-3"></div>
              <div class="cell3 col-9">
                Dans cette partie j'ai réalisé une application Gestion de stock
                avec spring legacy avec BD MySql on utilisant une templete déjà
                exister
                Dans cette partie du code on exprime les classes,services, JPA,...
                <br>
                <a href="https://github.com/wajihov/Gestion-de-stock-client-" target="_blank">
                  lien</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-1">
          <div class="row">
            <div class="cell1 col-3">
              <i class="cell4 fas fa-birthday-cake" style="color: gray"></i>
            </div>
            <div class="cell2 col-9">JQuery</div>
            <div class="row">
              <div class="col-3"></div>
              <div class="cell3 col-9">
                Application avec html css JQuery qui applique des effets de JQuery dans une page
                commeune carte postale d'anniversaire
                <br>
                <a href="https://bitbucket.org/wajihov/travail_jquery_anniversaire/src/master/"
                   target="_blank">Lien</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-1">
          <div class="row">
            <div class="cell1 col-3">
              <i class="cell4 far fa-money-bill-alt" style="color: gray"></i>
            </div>
            <div class="cell2 col-9">GESTION DE BANQUE</div>
            <div class="row">
              <div class="col-3"></div>
              <div class="cell3 col-9">
                Création d'application d'une banque (les entities, les relations avec eux,
                partie
                dao, et les services).
                <br>
                Les outils utiliser dans cette application sont Spring, bootstrap et angular ...
                <a href="https://github.com/wajihov/Gestion-Banque" target="_blank">
                  <br>le guithub</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-1">
          <div class="row">
            <div class="cell1 col-3">
              <i class="cell4 far fa-newspaper" style="color: gray"></i>
            </div>
            <div class="cell2 col-9">CV HTML CSS</div>
            <div class="row">
              <div class="col-3"></div>
              <div class="cell3 col-9">
                Page html css qui exprime mon parcourt professionnel sous forme d'une page Web.
                <br>
                <a href="https://bitbucket.org/wajihov/travail_jquery_anniversaire/src/master/"
                   target="_blank">Lien</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
